* {
  margin: 5;
  padding: 5;
  font-family: "Montserrat", sans-serif;
}
.menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 75px;
}
.menu .logo {
  font-size: 20px;
  color: maroon;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 200;
  text-align: center;
  position: relative;
  transition: 0.5s;
  font-weight: bold;
  width: fit-content;
}
.menu a:hover {
  color: white;
}

.menu a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

.menu a:hover::before {
  transform: scaleY(1.2);
  opacity: 1;
}

.menu a::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transition: 0.5s;
  z-index: -1;
}

.menu a:hover::after {
  transform: scaleY(1);
  background-color: maroon;
}
.greeting {
  display: grid;
  height: 10px;
  text-align: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
  border-top: 5px maroon;
  border-top-style: solid;
}
.first-container {
  display: inline-block;
  height: fit-content;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
  margin-left: 120px;
  margin-right: 90px;
  box-sizing: border-box;
}
.image {
  height: 100px;
  width: 600px;
}
.nama h2 {
  color: maroon;
  margin-top: auto;
  font-size: x-large;
  text-align: center;
}

.nama p {
  text-align: center;
  font-size: larger;
}
.third-container {
  background-color: whitesmoke;
  display: flex;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px 20px;
  box-sizing: border-box;
}

.third-container div {
  max-width: 1000px;
  max-height: 500px;
  line-height: 1.75;
  border-style: solid;
  border-color: maroon;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 5px 5px black;
  transition: 0.2s ease-in-out;
}

h3 {
  color: maroon;
  text-align: center;
}
